# Directories and files to ignore

# Laravel-specific files and directories
/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/framework/*
/storage/logs/*
/storage/debugbar/*

# Ignore compiled files and cache
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
/.vagrant

# Ignore IDE and OS-specific files
.idea/
*.phpstorm.meta.php
.phpunit.result.cache
.DS_Store
Thumbs.db

# Ignore deployment scripts and logs
/deploy.sh
*.log

# Ignore composer and npm lock files if not managed
composer.lock
package-lock.json
yarn.lock

# Ignore static analysis tools
/.php-cs-fixer.cache
/.phpstan/cache/
